<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="connstring" value="mongodb+srv://joseph-test:Jcajulis11@testdb1.jh6jv.mongodb.net/testdb1?retryWrites=true" />
    <add key="database" value="testdb1" />
    <add key="collection" value="Citizens" />
    <add key="persons_collection" value="Persons" />
  </appSettings>
</configuration>